<IfModule mod_rewrite.c>
    RewriteEngine On

    # Cegah infinite loop
    RewriteCond %{REQUEST_URI} !^/public/

    # Redirect semua ke folder public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
